## Importig the Libraries

In [126]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

## Defining the Dependent and Independent Variables

In [127]:
df = pd.read_csv('/content/heart_disease_data.csv')
x = df.drop( columns ='target',axis=1).values
y = df['target']

## Spliting into training and test dataset for checking the accuracy

In [128]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 0, stratify=y, test_size=0.2)

### Logistic Regression Model

In [136]:
classifier = LogisticRegression()
classifier.fit(x, y)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

### Training set accuracy

In [137]:
train_pred = classifier.predict(x_train)
score = accuracy_score(train_pred.round(), y_train)
print('Accuracy score : ', score)

Accuracy score :  0.8388429752066116

### Test Set accuracy

In [138]:
test_pred = classifier.predict(x_test)
score_test = accuracy_score(test_pred.round(), y_test)
print('Accuracy Score result for test data is : ', score_test)

Accuracy Score result for test data is :  0.9016393442622951

## Prediction by Input Data

In [139]:
df.head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

In [140]:
input_data_0 = (57,0,1,130,236,0,0,174,0,0,1,1,2)
convert_np = np.asarray(input_data_0).reshape(1,-1)
input_pred = classifier.predict(convert_np)
if(input_pred== 1):
 print('WOW! Congrats Yor Heart is good!!')
else:
 print('You need a detailed checkup')

WOW! Congrats Yor Heart is good!!

In [141]:
input_data_1 = (63,1,3,145,233,1,0,150,0,2.3,0,0,1)
convert_np = np.asarray(input_data_1).reshape(1,-1)
input_pred = classifier.predict(convert_np)
if(input_pred == 0):
 print('Congrats Yor Heart is good!!')
else:
 print('Attention: You need a detailed checkup')

Attention: You need a detailed checkup

# Conclusion:
## This model has predicted 100% correct prediction for our two patients, and this can be great a helping hand for medical Industry to predict the heart health and start the precautionary treatment on or before.